@model Models.Tabelle.TipoIndirizzo

@{
    ViewData["Title"] = "Delete";
    ViewData["BreadCrum"] ="Elimina Indirizzo";
    ViewData["RootBreadCrum"] ="Tipo Indirizzo";
}

<h2>Elimina Indirizzo</h2>

<h3>Sicuro di voler cancellare questo indirizzo?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoIndirizzoId" />
        <input type="submit" value="Elimina" class="btn btn-default" /> |
        <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>  Indietro</a>
    </form> 
</div>
