@model Models.Tabelle.Contatti

@{
    ViewData["Title"] = "Edit";
    ViewData["BreadCrum"] ="Modifica Contatto";
    ViewData["RootBreadCrum"] ="Contatti";
}

<h2>Modifica Contatto</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContattiId" />
            <div class="form-group">
                <label asp-for="Valore" class="control-label"></label>
                <input asp-for="Valore" class="form-control" />
                <span asp-validation-for="Valore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnagraficaId" class="control-label"></label>
                <select asp-for="AnagraficaId" class="form-control" asp-items="ViewBag.AnagraficaId"></select>
                <span asp-validation-for="AnagraficaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoContattoId" class="control-label"></label>
                <select asp-for="TipoContattoId" class="form-control" asp-items="ViewBag.TipoContattoId"></select>
                <span asp-validation-for="TipoContattoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva Modifiche" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>Indietro</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
