@model Models.Tabelle.TipoAnagrafica

@{
    ViewData["Title"] = "Details";
    ViewData["BreadCrum"] ="Dettagli Anagrafica";
    ViewData["RootBreadCrum"] ="Tipo Anagrafica";
}

<h2>Dettagli Anagrafica</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoAnagraficaId"><i class="far fa-edit"></i>  Modifica</a> |
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>  Indietro</a>
</div>
