@model Models.Tabelle.TipoContatto

@{
    ViewData["Title"] = "Delete";
    ViewData["BreadCrum"] ="Elimina Contatto";
    ViewData["RootBreadCrum"] ="Tipo Contatto";
}

<h2>Elimina</h2>

<h3>Sei sicuro di volere eliminare questo contatto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoContattoId" />
        <input type="submit" value="Elimina" class="btn btn-default" /> |
        <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>  Indietro</a>
    </form>
</div>
