@model Models.Tabelle.Indirizzi

@{
    ViewData["Title"] = "Edit";
    ViewData["BreadCrum"] ="Modifica Indirizzo";
    ViewData["RootBreadCrum"] ="Indirizzi";
}

<h2>Modifica Indirizzo</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IndirizziId" />
            <div class="form-group">
                <label asp-for="Nazione" class="control-label"></label>
                <input asp-for="Nazione" class="form-control" />
                <span asp-validation-for="Nazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regione" class="control-label"></label>
                <input asp-for="Regione" class="form-control" />
                <span asp-validation-for="Regione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citta" class="control-label"></label>
                <input asp-for="Citta" class="form-control" />
                <span asp-validation-for="Citta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Denominazione" class="control-label"></label>
                <input asp-for="Denominazione" class="form-control" />
                <span asp-validation-for="Denominazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cap" class="control-label"></label>
                <input asp-for="Cap" class="form-control" />
                <span asp-validation-for="Cap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnagraficaId" class="control-label"></label>
                <select asp-for="AnagraficaId" class="form-control" asp-items="ViewBag.AnagraficaId"></select>
                <span asp-validation-for="AnagraficaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoIndirizzoId" class="control-label"></label>
                <select asp-for="TipoIndirizzoId" class="form-control" asp-items="ViewBag.TipoIndirizzoId"></select>
                <span asp-validation-for="TipoIndirizzoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva Modifiche" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>Indietro</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
